{% extends 'base.html' %}
{%block title%} Buy All {%endblock%}
{% block content %}
  <div>
    <h1>Summary:</h1>
    <hr style="color:blue">
    {% for product, price, qt in zipp %}
    <h6>Product Name: {{ product.product_name }}</h6>
    <h6>Product Quantity: {{ qt }}</h6>

    <h6>Product Price: {{ product.price }} Rs.</h6>
    <h6>Product Manf/Exp Date:{{ product.m_and_e_date }}</h6>
    <h6>Total Amount to PAY: {{ price }} Rs.</h6>
    <hr>
    <hr>
    
    {% endfor %}
    <h6 style="color:green">--------------------GRAND TOTAL-----------------: {{ GrandTotal }} Rs.</h6>
    <hr>
    <label for="buy and back">
    <label for="buy">
                <form action="/go_to_store" method="POST">
            <input class ='ml-4 btn btn-sm btn-outline-light' type="submit" value="Go to Store">
        </form>

    </label>
    <label class ='ml-4' for="back">
    <form action="/buy" method="POST">
        <input class ='ml-4 btn btn btn-outline-success' type="submit" value="BUY">
    </form>
    </label>
    </label>
    </div>
{% endblock %}
